<nav id="m-nav-trimdown" role="navigation">
  <ul class="m-nav-mobile-menu-group">
    <li> <a href="/fr/products/?nc2=h_mo">Produits</a> </li>
    <li> <a href="/fr/solutions/?nc2=h_mo">Solutions</a> </li>
    <li> <a href="/fr/pricing/?nc2=h_mo">Tarification</a> </li>
    <li> <a href="/fr/what-is-aws/?nc2=h_mo">Introduction &agrave; AWS</a> </li>
    <li> <a href="/fr/getting-started/?nc2=h_mo">Mise en route</a> </li>
    <li> <a href="/fr/documentation/?nc2=h_mo">Documentation</a> </li>
    <li> <a href="/fr/training/?nc2=h_mo">Formation et certification</a> </li>
    <li> <a href="/fr/developer/?nc2=h_mo">Centre pour d&eacute;veloppeurs</a> </li>
    <li> <a href="/fr/solutions/case-studies/?nc2=h_mo">T&eacute;moignages de r&eacute;ussite</a> </li>
    <li> <a href="/fr/partners/?nc2=h_mo">R&eacute;seau de partenaires</a> </li>
    <li> <a href="https://aws.amazon.com/marketplace/?nc2=h_mo">AWS&nbsp;Marketplace</a> </li>
    <li> <a href="https://console.aws.amazon.com/support/home?nc2=h_ql_cu">Support</a> </li>
    <li> <a href="https://console.aws.amazon.com/console/home">Se connecter &agrave; la console</a> </li>
    <li> <a href="/fr/console/mobile/">T&eacute;l&eacute;charger l'application mobile</a> </li>
  </ul>
</nav>